---
title: e-Comas – e-commerce made simple
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <picture class="background" aria-hidden="true">
        <img src="/images/hero.jpg" alt="background" />
      </picture>
      <a href="/"
        ><img
          src="/images/logo.svg"
          alt="e-Comas, eCommerce made simple"
          class="logo"
      /></a>
      <nav>
        <a href="/services.html">Services</a>
        <a href="/experience.html">Experience</a>
        <a href="/our-team.html">Team</a>
        <a href="/news.html">Blog</a>
        <a href="/contact.html">Contact us</a>
      </nav>
      <h1>
        Be visible and sell easily and quickly on Amazon and on the biggest
        marketplaces!
      </h1>
    </header>

    <nav><!-- breadcrumb --></nav>

    {{ content | safe }}

    <footer>
      <img
        src="/images/logo.svg"
        alt="e-Comas, eCommerce made simple"
        class="logo"
      />
      <nav>
        <ul>
          <li>Service</li>
          <li>Experience</li>
          <li>Team</li>
          <li>Blog</li>
        </ul>
      </nav>
      <nav>
        <h5>Our approach</h5>
        <ul>
          <li>Strategy</li>
          <li>Conversion</li>
          <li>Operation</li>
          <li>Traffic</li>
        </ul>
      </nav>
      <div>
        <h5>Contact us</h5>
        <address>68 Avenue de la Liberté - L-1930 Luxembourg</address>
        Tel.: <a href="tel:&plus;352621830003">+352 621 830 003</a> - M.:
        ecomassimple@e-comas.com
      </div>
      <div class="copyright-notice">© 2021 · E-comas · All Rights Reserved</div>
    </footer>
  </body>
</html>
