@use "../utils/variables" as *;

main {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: auto;
}

main > p,
main > h3,
main > h4,
main > h5,
main > h6,
.publishing-info {
  padding: 0 1ch;
}
.publishing-info {
  font-size: 0.75rem;
  margin: 2rem 0;
  margin-left: auto;
}
