@use "../utils/variables" as *;

main {
  grid-area: main;
  justify-self: center;
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: auto;
  gap: 1rem 0;
  img{
    max-width: 100%;
  }
}

main > h3,
main > h4,
main > h5,
main > h6 {
  margin-top: 1rem;
}

main > p,
main > h3,
main > h4,
main > h5,
main > h6,
.publishing-info {
  padding: 0 1ch;
}
.publishing-info {
  font-size: 0.75rem;
  margin: 2rem 0;
  margin-left: auto;
}

h4 {
  font-size: 1.25rem;
}

.blog-page{
  // if the screen can fit both main and aside, then display them side by side
  @media (min-width: 1070px){
    // could overflow a little bit, but this allows for supporting more displays
    overflow-x: hidden;
    display: 	grid;
    grid-template-columns: 1fr 680px 410px;
    grid-template-areas: "_ main aside";
  }
  // center main if there is enough space
  @media (min-width: 1500px){
    grid-template-columns: 1fr 680px 1fr;
  }
}

aside{
  display:none;
  //only show if screen is wide enough
  @media (min-width: 1070px){
    display: flex;
    position: sticky;
    top: calc(25% + 100px); 
  }
  grid-area: aside;
  margin: auto;
  margin-top: 25%;
  max-width: 500px;
  // thin gray rounded border
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}

