<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <title>e-Comas – eCommerce made simple</title>
    <meta property="og:title" content="e-Comas – {{ page.title }}" />
    <meta name="description" content="{{ page.excerpt }}" />
    <link rel="canonical" href="{ origin }{{ page.url }}" />
    <meta property="og:url" content="{ origin }{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="article:author" content="{{ page.author }}" />
    <meta property="article:tag" content="{{ page.tags }}" />
    <meta property="og:image" content="/images/opengraph.png" />
    <meta property="og:image:type" content="image/png" />
    <meta
      property="og:image:alt"
      content="Picture of the team with the e-Comas logo in front"
    />
    <meta property="og:image:width" content="REPLACEME" />
    <meta property="og:image:height" content="REPLACEME" />
    <link rel="icon" type="image/svg+xml" href="/images/trolley.svg" />
    <meta name="theme-color" content="#64d7be" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body></body>
</html>
