@use "../utils/variables" as *;

@use "../fonts/Gilroy";
@use "../fonts/Lato";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 125%;
  font-family: $Gilroy;
  color: $blue;
  width: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 1.5rem;
  width: 100%;
  min-height: 100vh;

  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.inverted {
  @extend %inverted;
}
.cta {
  @extend %button;
  &.inverted {
    @extend %invertedCta;
  }
}

%title {
  margin: 0;
  padding: 0;
  font-family: $Gilroy;
}

h1 {
  @extend %title;

  font-size: 2.5rem;
  letter-spacing: 0.02em;
  line-height: 2.75rem;
}

h2 {
  @extend %title;

  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.02em;
}

h3,
h4 {
  @extend %title;

  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

h5 {
  @extend %title;

  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
}

main {
  display: contents;
}

p,
ul {
  font-size: 0.85rem;
  line-height: 1.1rem;
  font-family: $lato;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0 0 0 1em;
  padding: 0;
}

section.twoThird {
  @extend %containsCoverPicture;
  grid-template-columns: 2fr 1fr;
}
section.threeQuarter {
  @extend %containsCoverPicture;
  grid-template-columns: 3fr 1fr;
}
