@use "../utils/variables" as *;

@use "../fonts/SourceSansPro";
// @use "../fonts/Gilroy";
// @use "../fonts/Lato";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 125%;
  font-family: $SourceSansPro;
  color: $grey;
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 100vh;
  max-width: $body-max-width;

  margin: 0;
  padding: 0;
  @media screen and (min-width: $max-width) {
    padding: calc((100vw - #{$max-width}) / 2);
  }
  @media screen and (min-width: $max-width+$body-padding*2) {
    padding: $body-padding;
    margin: 0 auto;
  }
}

.inverted {
  @extend %inverted;
}
.cta {
  @extend %button;
  &.inverted {
    @extend %invertedCta;
  }
}
main .cta {
  font-size: 0.65rem;
}

%title {
  margin: 0;
  padding: 0;
  font-family: $Gilroy;
}

h1 {
  @extend %title;

  font-size: 1.5rem;
  letter-spacing: 0.02em;
  line-height: 2rem;

  @media screen and (min-width: 360px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  @media screen and (min-width: 450px) {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2 {
  @extend %title;

  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.02em;
}

h3,
h4 {
  @extend %title;

  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

h5 {
  @extend %title;

  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
}

main {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}

p,
ol,
ul {
  font-size: 0.85rem;
  line-height: 1.1rem;
  font-family: $lato;
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0 0 0 1em;
  padding: 0;
}

section.twoThird {
  @extend %containsCoverPicture;
  @media screen and (min-width: 800px) {
    grid-template-columns: 2fr 1fr;
  }
}
section.threeQuarter {
  @extend %containsCoverPicture;
  @media screen and (min-width: 800px) {
    grid-template-columns: 3fr 1fr;
  }
}
