@use '../utils/variables' as *;

.breadcrumbs {
  list-style: none;
  display: flex;

  font-family: $Gilroy;
  font-size: 0.55rem;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  font-weight: bold;

  li:not(:last-child)::after {
    content: ">";
    padding: 1ch;
  }

  a {
    text-decoration: none;
    color: $blue;
  }
}
