@use "../utils/variables" as *;

.flip_card {
  position: relative;
  max-width: 15rem;
  margin: 1rem auto;
  .card_head {
    counter-increment: card-number;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    padding: 4rem;

    justify-content: center;
    align-items: center;

    &::before {
      content: counter(card-number) " ";
      position: absolute;
      margin-top: 0;

      font-size: 15rem;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: rgba($color: white, $alpha: 0.5);
    }

    font-size: 1.2rem;
    font-weight: bold;
    color: white;

    background-image: url("/images/blurry.png");
    background-size: cover;

    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card_tail {
    width: 100%;
    height: 100%;
    padding: 3.5rem 2rem 2.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5rem;

    background-color: $green;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  & > * {
    border-radius: 0.5rem;
    transition-duration: 600ms;
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }
}
@media (prefers-reduced-motion: no-preference) {
  @media not (hover: none) {
    .flip_card:hover > .card_head {
      transform: perspective(1000px) RotateX(180deg);
    }
    .flip_card:not(:hover) > .card_tail {
      transform: perspective(1000px) RotateX(-180deg);
    }
    .flip_card:hover > .card_tail,
    .flip_card:not(:hover) > .card_head {
      transform: perspective(1000px) RotateX(0);
    }
  }

  @media (hover: none) {
    .flip_card{
      user-select: none;
    }
    .flip_card:active > .card_head {
      transform: perspective(1000px) RotateX(180deg);
    }
    .flip_card:not(:active) > .card_tail {
      transform: perspective(1000px) RotateX(-180deg);
    }
    .flip_card:active > .card_tail,
    .flip_card:not(:active) > .card_head {
      transform: perspective(1000px) RotateX(0);
    }
  }
}
