@use "../utils/variables" as *;

footer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  font-size: 0.8rem;
  line-height: 1.1rem;
  color: $blue;
  background-color: $green;

  padding: 2.5rem;
  padding-bottom: 0.5rem;

  .logo {
    max-width: 200px;
    align-self: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: inherit;
    margin: 0;
  }

  li {
    display: block;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  address {
    font-style: normal;
  }

  .copyright-notice {
    text-align: center;
  }

  @media screen and (min-width: 410px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .logo,
    .contact-us,
    .copyright-notice {
      grid-column: span 2;
    }

    .logo {
      justify-self: center;
    }
    nav {
      align-self: center;
    }
  }
  @media screen and (min-width: 570px) {
    display: grid;
    grid-template-columns: auto 200px 200px auto;
    .logo,
    .contact-us,
    .copyright-notice {
      grid-column: 2 / 4;
    }

    nav {
      grid-column: 2;
      & + nav {
        grid-column: 3;
      }
    }
  }
  @media screen and (min-width: 770px) {
    grid-template-columns: 3fr 2fr 3fr 4fr;
    row-gap: 5rem;
    .logo,
    nav,
    .contact-us {
      grid-column: unset;
      align-self: unset;
    }
    .copyright-notice {
      grid-column: span 4;
    }
  }
}
