@use "../utils/variables" as *;

footer {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 4fr;
  gap: 5rem 1.2rem;
  justify-content: space-evenly;

  font-size: 0.8rem;
  line-height: 1.1rem;
  color: $white;
  background-color: $blue;

  padding: 2.5rem;
  padding-bottom: 0.5rem;

  .logo {
    max-width: 200px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: inherit;
  }

  li {
    display: block;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  address {
    font-style: normal;
  }

  .copyright-notice {
    grid-column: span 4;
    text-align: center;
  }
}
