@use "../utils/variables" as *;

footer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: center;

  font-size: 0.8rem;
  line-height: 1.1rem;
  background-color: $green;

  margin-top: 5rem;
  padding: 2.5rem;

  img {
    max-width: 200px;
    align-self: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: inherit;
    margin: 0;
  }

  li {
    display: block;
  }

  strong {
    display: block;
    text-transform: capitalize;
    margin-bottom: -0.5rem;
  }

  a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  address {
    display: inline;
    font-style: normal;
  }

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    a {
      background-color: $grey;
      color: $white;
      border-radius: 50%;
      font-size: 1.25rem;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      display: block;
    }
  }

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-auto-flow: column;
    text-align: unset;

    & > strong {
      align-self: end;
      margin-bottom: 0;
    }
    & > ul,
    & > nav {
      grid-row: span 3;
    }
    & > .social {
      grid-row: span 2;
    }
    .logos {
      margin: 0 auto;
    }
    .copyright-notice {
      text-align: center;
    }
  }
  @media screen and (min-width: 1555px) {
    grid-template-columns: 1fr 1fr 1fr auto;
    .logos {
      margin-right: 0;
    }
    .copyright-notice {
      text-align: right;
    }
  }

  .logos {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    justify-content: space-evenly;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1em;
    }
  }
}
