@use "../utils/variables" as *;

section.four-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  padding: 170px;

  &::before {
    content: "";
    grid-column: 2;
    grid-row: 1;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.5rem;
    border-radius: $border-radius;
    background-color: $greyLike;

    &:hover {
      @extend %inverted;
    }

    img {
      max-width: 2.5rem;
    }

    &:nth-child(even) {
      transform: translateY(3.3rem);
    }
  }
}
