@use "../utils/variables" as *;

$gap: 1.2rem;

.FourStepApproach-shape path {
  stroke: var(--accent-color);
  stroke-dasharray: var(--dash-array);
  // animation: dash 5s linear;
  &.circle-arc {
    --dash-array: 1376;
  }
  &.arrow-stick {
    --dash-array: 280;
  }
  &.arrow-branches {
    stroke: none;
    fill: var(--accent-color);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: var(--dash-array);
  }
  to {
    stroke-dashoffset: 0;
  }
}

section.four-step {
  display: flex;
  flex-direction: column;
  gap: $gap;
  padding: 5rem $gap;
  max-width: $max-width;
  margin: 0 auto;

  h2 {
    text-transform: uppercase;
    font-weight: 600;
  }

  h3 {
    &,
    & strong {
      text-transform: capitalize;
      font-weight: 600;
      // font-variant: small-caps;
    }
  }

  ol {
    display: none;
  }

  strong {
    text-transform: uppercase;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: $gap;
    padding: 1rem;

    img {
      max-width: 2.5rem;
    }

    .cta {
      background-color: var(--accent-color);
    }
  }

  & > div,
  & > ol > * {
    &:nth-of-type(1) {
      --accent-color: #fed140;
    }
    &:nth-of-type(2) {
      --accent-color: #e3d654;
    }
    &:nth-of-type(3) {
      --accent-color: #a3d487;
    }
    &:nth-of-type(4) {
      --accent-color: #69d5bd;
    }
  }

  @media screen and (min-width: 650px) {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    h2 {
      position: absolute;
      top: 22.5rem;
      right: 50%;
      transform: translateX(50%);
      text-align: center;
      width: min-content;
    }
    ol {
      display: grid;
      grid-column: span 4;

      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "empty0 strategy empty1" "conversion title operations" "empty2 traffic empty3";
      counter-reset: four-step-approach;

      & > :nth-child(1) {
        grid-area: strategy;
        svg {
          transform: rotate(0.25turn);
        }
      }
      & > :nth-child(2) {
        grid-area: operations;
        svg {
          transform: rotate(0.5turn) translate(55px, -3px);
        }
      }
      & > :nth-child(3) {
        grid-area: traffic;
        svg {
          transform: rotate(0.75turn) translate(55px, -50px);
        }
      }
      & > :nth-child(4) {
        grid-area: conversion;
      }

      & > * {
        position: relative;
        counter-increment: four-step-approach;

        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 15rem;
        font-size: 1.5rem;
        padding: 2.5rem;
        text-align: center;
        svg {
          position: absolute;
          top: 0;
          left: 0;
          right: -50px;
          transform: translate(5px, -50px);
        }
        img {
          height: 1em;
          width: auto;
        }
        span {
          &::before {
            content: counter(four-step-approach) ". ";
          }
          text-transform: uppercase;
          line-height: 1.1em;
        }
      }
    }
  }
}
