@use "../utils/variables" as *;

$gap: 1.2rem;

section.four-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap;
  padding: 5rem $gap;
  max-width: $max-width;
  margin: 0 auto;

  &::before {
    content: "";
    grid-column: 2;
    grid-row: 1;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: $gap;
    padding: 2.5rem;
    border-radius: $border-radius;
    background-color: $greyLike;

    &:hover {
      @extend %inverted;
      img {
        // Computed by https://codepen.io/sosuke/pen/Pjoqqp
        filter: brightness(0) invert(11%) sepia(21%) saturate(6521%)
          hue-rotate(218deg) brightness(98%) contrast(108%);
      }
    }

    img {
      max-width: 2.5rem;
    }

    &:nth-child(even) {
      transform: translateY(3.3rem);
    }
  }
}
