@use "../utils/variables" as *;

// html {
//   scroll-timeline: --page-scroll block;
// }

div.hero {
  position: relative;
  height: 20rem;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  text-align: center;
  color:$white;

  h1 {
    margin: auto;
    text-transform: capitalize;
  }

  p {
    font-size: 1rem;
    width: 75%;
    margin: auto;
  }

  .cta {
    @extend %button;
    @extend %invertedCta;
    text-transform: capitalize;
    font-weight: bold;
    margin: auto;
    font-size: 0.75rem;
    &:hover {
      @extend %button;
      text-transform: capitalize;
      font-weight: bold;
      margin: auto;
      font-size: 0.75rem;
    }

  }
}

div.group {
  background-color: $navy;
}

div.marketplace {
  background: linear-gradient(135deg, $navy 0%, $turquoise 90%);
}

div.distribution {
  background: linear-gradient(135deg, $navy 0%, $blue 90%);
}

div.technology {
  background: linear-gradient(135deg, $navy 0%, $orange 90%);
}

div.digital-marketing {
  background: linear-gradient(135deg, $navy 0%, $pink 90%);
}

$hero_zoom: 150%;
$hero_translate_y: 11%;
$hero_translate_x_start: 0;
$hero_translate_x_end_short: -200px;
$hero_translate_x_end_long: -900px;


// div.hero.long-page::before {
//   // transform: scale($hero_zoom) translateY($hero_translate_y)
//   //   translateX($hero_translate_x_start);
//   animation: 1s linear forwards heroAnim_long;
//   animation-timeline: --page-scroll;
// }

// @keyframes heroAnim_short {
//   from {
//     transform: scale($hero_zoom) translateY($hero_translate_y)
//       translateX($hero_translate_x_start);
//   }
//   to {
//     transform: scale($hero_zoom) translateY($hero_translate_y)
//       translateX($hero_translate_x_end_short);
//   }
// }

// @keyframes heroAnim_long {
//   from {
//     transform: scale($hero_zoom) translateY($hero_translate_y)
//       translateX($hero_translate_x_start);
//   }
//   to {
//     transform: scale($hero_zoom) translateY($hero_translate_y)
//       translateX($hero_translate_x_end_long);
//   }
// }
