@use "../utils/variables" as *;

section.key-figures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  min-height: 325px;
  padding: 2rem;

  .background img {
    object-position: 66% 50%;
  }

  p {
    font-weight: bold;
    color: $white;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    max-width: 30ch;
  }

  strong {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 0.02em;
    line-height: 3rem;
  }
}
