@use "../utils/variables" as *;

.card {
  overflow: hidden;
  padding: 1.5rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.1);

  & > svg {
    background-color: $golder;
    // border-radius: 50%;
    color: $white;
    clip-path: circle(70.71% at center);
    box-shadow: 0px 0px 0px 1rem $golder;
    margin: 1rem 0;
    max-height: 3rem;
  }

  .inverted_svg {
    background-color: $white;
    color: $golder;
    box-shadow: 0px 0px 0px 1rem $white;
  }

  #title {
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1;
    height: 3rem;
    font-weight: 600;
    color: #14142b;
  }

  #desc {
    margin-top: 1rem;
    text-wrap: balance;
    color: black;
  }
}

.centered_card {
  & > svg {
    margin: 1rem auto;
  }
  text-align: center;
}
