#OurProcessIllustration {
  .st1,
  .st2,
  .st3,
  .st4 {
    fill: none;
    stroke: #86d5a2;
    stroke-width: 2.5;
    stroke-miterlimit: 10;
  }
  .st2,
  .st3,
  .st4 {
    stroke: #ffd1b1;
  }
  .st3,
  .st4 {
    stroke: #c1d36b;
  }
  .st4 {
    stroke: #dfd252;
  }
  .st5 {
    fill: #ffd1b1;
  }
  .st6 {
    fill: #86d5a2;
  }
  .st7 {
    fill: #333;
  }
  .st8 {
    font-weight: 600;
  }
  .st9 {
    font-size: 1.6rem;
  }
  .st11 {
    font-size: 1rem;
  }
  .st12 {
    fill: #c1d36b;
  }
  .st15 {
    fill: #dfd252;
  }
  .st16 {
    fill: none;
    stroke: #69d6be;
    stroke-width: 2.5;
    stroke-miterlimit: 10;
  }
}
