#our-services {
  display: flex;
  flex-direction: column;
  figcaption {
    padding: 0;

    & > svg {
      max-width: 5rem;
    }

    a {
      line-height: 1;
      text-align: center;
      fill: #14142b;
      color: #14142b;

      box-sizing: border-box;
      display: inline-block;
      line-height: 1;
      padding: 12px 24px;
      text-align: center;
      transition: all 0.3s;
      box-shadow: none;
      text-decoration: none;
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      margin: 0 auto 1rem;
    }
  }

  @media screen and (min-width: 800px) {
    figure {
      display: flex;
      flex-direction: row;

      &:nth-child(2n + 4) {
        flex-direction: row-reverse;
      }

      a {
        margin-left: 0;
      }
    }
  }
}
