@use "../utils/variables" as *;

%partners {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  min-height: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & > h2 {
    margin: auto 0;
  }
  & > div {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    width: 100%;

    .picture-wrapper {
      margin: 0;
      & > picture {
        display: flex;
        margin: 0;
      }
    }

    img {
      width: 9rem;
      max-height: 9rem;
      object-fit: contain;
    }
  }
  @media screen and (min-width: 800px) {
    & > h2 {
      margin: unset;
    }
  }
  .cta {
    @extend %button;
    &:hover {
      @extend %invertedCta;
    }
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

section.partners {
  @extend %partners;
}
