@use "../utils/variables" as *;

%partners {
  padding: 5rem;
  gap: 3rem;
  min-height: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & > h2 {
    margin: auto;
  }
  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    width: 100%;

    img {
      width: 9rem;
      max-height: 3rem;
      object-fit: contain;
    }
  }
}

section.partners {
  @extend %partners;
}
