@use "../utils/variables" as *;

.slidable-text {
  animation: slideInFromLeft $animationDuration;
  font-size: 2rem;
  letter-spacing: -0.5px;
  text-align: center;
  line-height: 3.5rem;
  font-weight: 500;

  &:nth-of-type(even) {
    animation-name: slideInFromRight;
  }

  strong {
    color: $green;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-150%);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(150%);
  }
}
