@use "../utils/variables" as *;

main .social {
  display: flex;
  width: 100%;
  gap: 1rem;

  a,
  a:visited,
  a:hover {
    color: $white;
    background-color: $navy;
    border-radius: 50%;
    font-size: 1rem;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    display: block;
  }
}

.picture-wrapper {
  position: relative;
  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-image: url("/images/icons/puddle_navy.svg");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 10% 90%;

    transition: filter 1s linear;
  }

  &:hover::before {
    filter: hue-rotate(1turn);
  }
}

%teamMember {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;

  .social {
    justify-content: center;
    margin-top: 0.75rem;
  }

  figcaption {
    display: contents;
  }

  strong {
    font-weight: 300;
    font-size: 1.3rem;
  }

  em {
    font-weight: 600;
    font-size: 1rem;
    font-style: normal;
    color: $navy;
    text-transform: capitalize;
  }

  strong,
  em {
    line-height: 1em;
    letter-spacing: 0;
    text-align: center;
  }
}
