@use "../utils/variables" as *;

div.testimonies {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: space-between;

  // background-color: $greyLike;
  width: 100%;
  max-width: 100vw;

  h2 {
    font-weight: 600;
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 2.5rem;
    text-align: center;
    padding: 1rem;
  }

  // > img {
  //   position: absolute;
  //   max-height: 4.5rem;
  //   max-width: 6.5rem;
  //   z-index: -1;
  //   transform: translateX(-50%) translateY(-33.3%);
  // }
  // .logo {
  //   display: none;
  // }

  .slider {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding: 1rem;
    gap: 1rem;

    figure {
      width: 75%;
      padding: 1rem;
      flex-shrink: 0;
      scroll-snap-align: center;
      margin: 0;
      @media screen and (min-width: $max-width) {
        padding: 2.5rem;
      }
    }

    button {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    position: relative;
    padding: 2rem;
    h2 {
      padding: 0;
    }

    .slider.with-js {
      width: 75%;
      margin: 0 auto;
      button {
        display: block;

        position: absolute;
        top: 50%;
        // transform: translateX(-50px);
        left: 12.5%;

        -webkit-appearance: none;
        appearance: none;
        background: none;
        border-radius: 0;
        cursor: pointer;

        height: 1rem;
        width: 1rem;
        border: 4px none $green;
        border-top-style: solid;
        border-left-style: solid;
        transform: rotate(-0.125turn);

        &:last-child {
          right: 12.5%;
          left: unset;
          transform: rotate(0.375turn);
        }
      }
      figure {
        width: 100%;
      }
    }
  }
}
figure.testimonial {
  // display: grid;
  // grid-template-columns: 1fr 7fr;
  max-width: $max-width;

  background: $white;
  box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;

  .portrait img {
    border-radius: 50%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
  }

  .logo,
  .logo img {
    max-width: 100%;
    height: auto;
  }

  & > figcaption > div > .logo {
    max-width: 75%;
    margin: 0 auto;
  }

  blockquote {
    margin: 0;
    font-weight: 300;
  }

  strong {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1em;
  }

  em {
    padding-left: 1ch;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
    color: #99999e;
    letter-spacing: 0;
    line-height: 1.1em;
  }

  @media screen and (min-width: 800px) {
    display: grid;
    gap: 0 1.5rem;
    grid-template-columns: 175px 1fr;
    grid-template-rows: 1fr repeat(4, auto) 1fr;

    &::before,
    &::after {
      content: "";
      height: 100%;
    }
    &::before {
      grid-column: span 2;
    }

    & > figcaption {
      display: contents;

      & > div:first-child {
        width: 100%;
        height: 100%;
        grid-row: span 5;

        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      & > img {
        display: block;
        margin-bottom: 1rem;
      }
    }
    em {
      padding: 0;
    }
    blockquote {
      padding-block-start: 0.25rem;
      padding-block-end: 2rem;
    }
  }
}
