@use "../utils/variables" as *;

div.testimonies {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: space-between;

  background-color: $greyLike;
  padding: 2rem;
  width: 100%;

  > img {
    position: absolute;
    max-height: 4.5rem;
    max-width: 6.5rem;
    z-index: -1;
    transform: translateX(-50%) translateY(-33.3%);
  }
  .logo {
    display: none;
  }

  .slider {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    figure {
      width: 100%;
      flex-shrink: 0;
      scroll-snap-align: center;
    }
  }
  @media screen and (min-width: 410px) {
    padding: 3rem 5rem;
  }
  @media screen and (min-width: $max-width) {
    display: grid;
    grid-template-columns: auto 800px auto;
    position: relative;
    & > * {
      grid-column: 2;
    }
    & > img {
      transform: translateX(-50%) translateY(33.3%);
    }
  }

  @media screen and (max-width: 499px) {
    .cta {
      margin: 0 auto;
    }
  }
}
figure.testimonial {
  display: flex;
  flex-direction: column;

  figcaption {
    display: contents;

    & > :first-child {
      // image
      grid-row: span 3;
      img {
        border-radius: 50%;
        aspect-ratio: 1;
        height: auto;
        width: 100%;
      }
    }

    .logo {
      position: absolute;
      transform: translateY(100vw) translateY(-4rem) translateY(-100%)
        translateX(100vw) translateX(-2rem) translateX(-125%);
      height: 2rem;
      width: 50vw;
      max-width: 4rem;
    }
    .picture-wrapper.logo {
      overflow: hidden;
      & > .logo {
        position: unset;
        transform: none;
      }
      img {
        object-fit: contain;
        height: inherit;
        max-width: inherit;
      }
    }

    time {
      font-size: 0.75rem;
      letter-spacing: 0.175em;
    }

    strong {
      font-variant: small-caps;
    }
  }
  blockquote {
    &::before {
      content: "«";
    }
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    text-align: center;
    &::after {
      content: "»";
    }
  }
  @media screen and (min-width: 500px) {
    display: grid;
    grid-template-columns: 4rem 1fr;
    gap: 0 1rem;
    margin: 2rem;

    .logo {
      display: none;
    }

    blockquote {
      text-align: unset;
    }
  }
}
