@use "../utils/variables" as *;

section.about-us {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: fadeIn 600ms;

  & > picture.background {
    max-height: 20rem;
    filter: brightness(0.5);
  }

  h3 {
    text-align: center;
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: $white;
    font-size: 2rem;
    font-weight: 600;
    margin: 4rem auto -1.5rem;
  }

  & > p {
    color: $white;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 1.5rem;
    @media screen and (min-width: 400px) {
      max-width: 75%;
    }
    @media screen and (min-width: 600px) {
      max-width: 50%;
    }
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    & > * {
      flex: 0 0 100%;
      @media screen and (min-width: 800px) {
        flex: 0 0 calc(50% - 1rem);
      }
      @media screen and (min-width: 1200px) {
        flex: 0 0 calc(33% - 1rem);
      }
    }
  }

  & > .cta {
    @extend %button;
    font-size: 0.75rem;
    margin: auto;
    color: white;
    background-color: $navy;
  }
}
