@use "./variables" as *;

%main-title {
  font-size: 2rem;
  letter-spacing: -0.5px;
  text-align: center;
  line-height: 1em;
  font-weight: 600;
  text-transform: capitalize;
  margin: -0.3rem auto;
  max-width: 27rem;
  padding: 0 1ch;
}
%p-after-title {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5em;
  letter-spacing: 0;
  text-align: center;
  padding: 0 1rem;
  max-width: $max-width;
  margin: 0 auto 3rem;
}

main > h2 {
  @extend %main-title;
}
