$border-radius: 6px;
$blue: #0c195a;
$green: #64d7be;
$greyLike: #{$blue}05;
$white: #fff;

$Gilroy: Gilroy, sans-serif;
$lato: Lato, sans-serif;

$max-width: 1200px;
$body-max-width: 2560px; // 1440p
$body-padding: 30px;

%uppercase {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.55rem;
  letter-spacing: 0.175em;
}
%button {
  @extend %uppercase;

  display: block;
  color: $blue;
  background-color: $green;
  border-radius: $border-radius;
  padding: 0.75rem 1rem;
  margin: 0;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}

@mixin invertedCta {
  background-color: $blue;
  color: $green;
}
%invertedCta {
  @include invertedCta();
}

%inverted {
  background-color: $green;
  color: $blue;

  .cta {
    @extend %invertedCta;
  }
}

%cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%containsCoverPicture {
  display: grid;
  gap: 1.2rem;
  & > figure {
    display: contents;
  }
  picture,
  img {
    @extend %cover;
  }
}

%sectionAboveTheFold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  min-height: calc(50vh - 7rem);
  @media screen and (min-height: 1280px) {
    min-height: 500px;
  }
}
