@use "./variables" as *;
@use "./title" as *;

dialog#ask-consent {
  color: inherit;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }
  h2 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 1ch;
    font-size: 2rem;
    letter-spacing: -0.5px;
  }
  p {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5em;
    letter-spacing: 0;
    text-align: center;
    padding: 0 1rem;
  }
  form > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  input {
    @extend %button;
    cursor: pointer;

    &:last-child {
      background: none;
      padding-left: 0;
      padding-right: 0;
      font-size: 0.45rem;
      width: 100%;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.ask-consent {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-width: initial;
    border: 1px solid currentColor;
    padding: 1em;
    background-color: $white;
    max-width: calc((100% - 6px) - 2em);
    max-height: calc((100% - 6px) - 2em);
    overflow: auto;
    z-index: 99999;
  }
}
