@use "./variables" as *;

.element-with-icon {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 0 1.2rem;
  padding: 0 1.2rem;
  max-width: 100%;
  & > * {
    grid-column: span 2;
  }
  & > h2 {
    grid-column: 2;
    @media screen and (max-width: 499px) {
      font-size: 1.75rem;
    }
  }
  & > div:first-child {
    grid-column: 1;
    & > img:first-of-type {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @media screen and (min-width: 500px) {
    position: relative;
    margin: auto;
    display: unset;
    width: fit-content;
    max-width: calc(100vw - 12rem);
    min-height: unset;
    padding: unset;
    transform: translateX(#{(2.5+1.2) * 0.5}rem);
    & > div:first-child > img {
      position: absolute;
      transform: translateX(-100%) translateX(-1.2rem);
    }
  }
  @media screen and (min-width: $max-width) {
    max-width: 40rem;
  }
}
