@use "./utils/variables" as *;
@use "./utils/title" as *;

main > p {
  @extend %p-after-title;
}
main > .picture-wrapper {
  &,
  & img {
    width: 100%;
  }
}
main > .cta {
  margin: 0 auto;
}
@media screen and(min-width: 800px) {
  main {
    display: grid;
    gap: inherit;
    grid-template-columns: 1fr 1fr;

    & > :not(.cta) {
      grid-column: span 2;
    }
    & > .cta {
      &:nth-of-type(odd) {
        margin-right: 0;
      }
      &:nth-of-type(even) {
        margin-left: 0;
      }
    }
  }
}
