@use "./utils/variables" as *;
@use "./utils/title" as *;

main > p {
  @extend %p-after-title;
}
main > .picture-wrapper {
  &,
  & img {
    width: 100%;
    height: auto;
  }
}
main > .cta {
  margin: 0 auto;
}
main > section {
  @extend %containsCoverPicture;
  @media screen and (min-width: 800px) {
    // There are 23 people on the first image, 17 on the second one.
    grid-template-columns: 23fr 17fr;
  }
}
@media screen and(min-width: 800px) {
  main {
    display: grid;
    gap: inherit;
    grid-template-columns: 1fr 1fr;

    & > :not(.cta) {
      grid-column: span 2;
    }
    & > .cta {
      &:nth-of-type(odd) {
        margin-right: 0;
      }
      &:nth-of-type(even) {
        margin-left: 0;
      }
    }
  }
}
