@use "./utils/variables" as *;
@use "./utils/title" as *;

main {
  padding: 0;
}

main > p {
  @extend %p-after-title;
}
main > .picture-wrapper {
  &,
  & img {
    width: 100%;
    height: auto;
  }
}
main > .cta {
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    gap: inherit;
    grid-template-columns: 1fr 1fr;

    & > :not(.cta) {
      grid-column: span 2;
    }
    & > .cta {
      &:nth-of-type(odd) {
        margin-right: 0;
      }
      &:nth-of-type(even) {
        margin-left: 0;
      }
    }
  }
}

.intro {
  .cta > svg {
    margin-left: 0.5rem;
  }
}

.how_it {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 100%;

  p {
    padding-top: 1rem;
    font-size: 1rem;
  }
  figcaption {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  img {
    border: 10px;
    border-radius: 1rem;
    border-color: white;
    border-style: solid;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
  }
  @media screen and (min-width: 800px) {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    margin: 1rem 4rem;
  }
}

.section {
  & > :not(div) {
    text-align: center;
  }
  padding: 3rem 0;
  @media screen and (min-width: 650px) {
    padding: 3rem;
    & > p {
      max-width: 50%;
    }
  }
  margin: 0;
  h2 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  & > p {
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  & > div {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    .card {
      max-width: 600px;

      margin: 0 auto;
      aspect-ratio: 1;

      #desc {
        margin-top: 1rem;
        font-size: 1rem;
      }
      .cta {
        @extend %button;
        background-color: $gold;
        color: white;
        margin: auto;
        margin-bottom: 0;
        font-size: 0.75rem;
        &:hover {
          color: black;
          background-color: $golder;
        }
      }
      .play-animation {
        @media (prefers-reduced-motion: no-preference) {
          animation: 0.5s linear 0s slideIn;
        }
      }
    }
    @media screen and (min-width: 1100px) {
      max-width: 1800px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .card {
        padding: 2rem;
        aspect-ratio: unset;
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#get_to_know {
  background-color: #f5f5f5;
  .cta {
    margin: auto;
    @extend %button;
    &:not(:hover) {
      @extend %invertedCta;
      color: white;
    }
  }
}

.green {
  background-color: $green;
  color: white;
}

.partners > p {
  padding: 1rem;
  font-size: 1rem;
}

#line-EC {
  margin: auto;
  img {
    filter: drop-shadow(3px 5px 4px rgb(0, 0, 0, 0.2));
  }
}