@use "./utils/variables" as *;
@use "./utils/title" as *;
@use "./utils/iframe" as *;
@use "./views/TeamMember" as *;

main > p {
  @extend %p-after-title;
  strong {
    display: block;
    color: $navy;
    font-weight: 500;
    font-size: 1.2em;
  }
}

main > h3 {
  text-align: center;
  padding: 0 1ch;
}

.face-book {
  display: grid;
  margin: auto;
  figure {
    @extend %teamMember;
    max-width: 16rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 834px) {
    grid-template-columns: repeat(2, 20rem);
  }
  // @media screen and (min-width: 800px) and (max-width: 1199px) {
  //   figure:last-of-type {
  //     grid-column: span 2;
  //     margin: auto;
  //   }
  // }
  // @media screen and (min-width: 1200px) {
  //   grid-template-columns: repeat(3, 20rem);
  // }
}
