@use "./utils/variables" as *;
@use "./classic-page.scss";

h2:first-of-type {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

section {
  &:nth-child(2n + 2),
  &:nth-child(2n + 3) {
    // background-color: unset;
  }
}

section#case-studies {
  flex-direction: column;
}

.area-of-expertise {
  img {
    object-fit: contain;
    height: 100%;
  }

  @media screen and (min-width: 850px) {
    figcaption {
      padding-left: 0;
    }
  }
}

.cover {
  &,
  & img {
    @extend %cover;
  }
}

figure.intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;

  p {
    text-align: justify;
  }

  .cta {
    @extend %button;
    background-color: $gold;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      max-height: 8rem;
      width: auto;
      margin-right: auto;
    }
  }

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
    max-width: 1200px;
    margin: auto;

    & > * {
      display: block;
      width: 100%;
      margin: auto;
    }
  }
}

.video-container {
  overflow: hidden;
  margin: auto;
  width: 75%;
  max-width: 800px;

  border-radius: 20px;

  min-width: 50vw;
  min-height: 500px;

  aspect-ratio: 16/9;
  box-sizing: border-box;

  display: flex;
  position: relative;
  z-index: 0;
}

section.news {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-height: auto;

  max-width: $max-width;
  margin: 0 auto;

  h3 {
    text-align: center;
    grid-column: span 3;
  }

  @media screen and (min-width: 850px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;

    h3 {
      text-align: unset;
    }

    article {
      border-radius: $border-radius;
    }
  }

  article {
    @extend %inverted;

    padding: 50px;

    time {
      font-style: 0.75rem;
      letter-spacing: 0.175em;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  .cta {
    grid-column: 2;
    place-self: center;
  }
}

section.key-figures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;

  min-height: 325px;
  padding: 2rem;

  .background img {
    object-position: 66% 50%;
  }

  p span {
    display: block;
    font-size: 1rem;
    color: $white;
    letter-spacing: 0;
    line-height: 1.1em;
    max-width: 25ch;
    margin: 0 auto;
  }

  strong {
    display: block;
    font-weight: 600;
    font-size: 2.6rem;
    color: #51bf9d;
    letter-spacing: 0;
    line-height: 3rem;
    font-variant-numeric: tabular-nums;
  }
}

:not(picture) > img:not([src$=".svg"]) {
  outline: solid 1rem cyan;
  filter: invert(1);
}
