@use "./utils/variables" as *;
// @use "./classic-page.scss";

section#case-studies {
  flex-direction: column;
}

.area-of-expertise {
  img {
    object-fit: contain;
    height: 100%;
  }

  @media screen and (min-width: 850px) {
    figcaption {
      padding-left: 0;
    }
  }
}

main {
  overflow: hidden
}

.cover {

  &,
  & img {
    @extend %cover;
  }
}

.video-container {
  overflow: hidden;
  margin: auto;
  width: 75%;
  max-width: 1600px;

  border-radius: 20px;

  min-width: 50vw;
  min-height: 500px;

  aspect-ratio: 16/9;
  box-sizing: border-box;

  display: flex;
  position: relative;
  z-index: 0;
}

section.news {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-height: auto;

  max-width: $max-width;
  margin: 0 auto;

  h3 {
    text-align: center;
    grid-column: span 3;
  }

  @media screen and (min-width: 850px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;

    h3 {
      text-align: unset;
    }

    article {
      border-radius: $border-radius;
    }
  }

  article {
    @extend %inverted;

    padding: 50px;

    time {
      font-style: 0.75rem;
      letter-spacing: 0.175em;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  .cta {
    grid-column: 2;
    place-self: center;
  }
}

.papers {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  gap: 1rem;
  padding: 0;
  min-height: unset;

  .cta {
    @extend %button;
    margin: auto;

    &:hover {
      background-color: $grey;
      color: white;
    }
  }

  &>* {
    max-width: 100%;
  }

  @media screen and (min-width: 800px) {
    flex-direction: row-reverse;
    max-width: 1500px;
    gap: 1.5rem;

    &>* {
      width: 50%;
    }

    figcaption {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: left;
      gap: 1.5rem;

      .cta {
        margin: 0;
        margin-top: 0.5rem;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.clients {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: 15px;
    bottom: 15px;
    left: -1rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
}

section.key-figures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;

  min-height: 325px;
  padding: 2rem;

  .background img {
    object-position: 66% 50%;
  }

  p span {
    display: block;
    font-size: 1rem;
    color: $white;
    letter-spacing: 0;
    line-height: 1.1em;
    max-width: 25ch;
    margin: 0 auto;
  }

  strong {
    display: block;
    font-weight: 600;
    font-size: 2.6rem;
    color: #51bf9d;
    letter-spacing: 0;
    line-height: 3rem;
    font-variant-numeric: tabular-nums;
  }
}

div.intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  overflow: visible;
  background-color: $navy;
  background-image: url(images/2026/gradient_group_thin.png);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: white;

  // min-height: 20rem;
  p {
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-align: justify;
  }

  .cta {
    @extend %button;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-transform: capitalize;

    &:hover {
      background-color: $grey;
      color: white;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 800px) {
      flex-direction: row;
    }
    width: 100%;
    padding-inline: 0;    
    @media screen and (min-width: 1000px) {
      padding-inline: 5em;
    }
    @media screen and (min-width: 2000px) {
      padding-inline: 15em;
    }

    figcaption {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      h3 {
        text-transform: uppercase;
        @media screen and (min-width: 530px) {
          padding-left: 2em;
        }
      }
      h3:first-of-type {
        padding-left: 0em;
      }
    }

    img {
      max-height: 8rem;
      width: auto;
      margin-right: 0;
      max-width: 100%;
      margin:auto;
      // background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
    }
  }

  @media screen and (max-width: 370px) {
    padding: 0.5rem;

    h5 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    width: 100%;
    margin: auto;
    padding: 1rem;

    &>* {
      flex: 0 0 50%;
      display: block;
      width: 100%;
      margin: auto;
      max-width: calc(min($body-max-width, 100vw));
    }

    figcaption {
      @media screen and (min-height: calc(750px - 5rem)) {
        padding: min(5rem, calc(100vh - 750px)) 0;
      }
    }

    &>img {
      max-width: calc(50% - 4rem);
      width: auto;
    }
  }
}