@use "./utils/variables" as *;
@use "./utils/blog-article-preview" as *;

main {
  display: grid;
  gap: inherit;
  grid-template-areas: "title" "aside" "articles";

  @media screen and (min-width: #{$max-width}) {
    grid-template-columns: 300px auto;
    grid-template-areas: "title title" "aside articles";
  }
  @media screen and (min-width: #{$max-width+500px}) {
    grid-template-columns: 400px auto;
  }

  & > h2 {
    grid-area: title;
  }
  & > section {
    grid-area: articles;
    @media screen and (max-width: 599px) {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .tags,
      time {
        padding: 0 1ch;
      }
    }
  }
  & > aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: inherit;

    .cta.tag {
      background: #f5f5f6;
    }

    @media screen and (max-width: #{$max-width - 1}) {
      & > a.tag {
        display: none;
      }
    }
  }

  a.tag {
    font-size: 0.9rem;
    color: $grey;
    letter-spacing: 0;
    line-height: 1rem;
    text-decoration: none;
  }
}

main > section > article {
  @extend %blog-article-preview;
}
