@use "./utils/variables" as *;

@use "./utils/title" as *;

main > p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0;
  text-align: center;
  padding: 0 1rem;
  max-width: $max-width;
  margin: 0 auto;
}

main > figure {
  display: flex;
  flex-direction: column;
  text-align: center;

  h3 {
    font-weight: normal;
    font-size: 1.3rem;
  }
  h4 {
    font-weight: 600;
    font-size: 1rem;
    color: $green;
    line-height: 1.5rem;
  }
  h3,
  h4 {
    text-transform: unset;
    letter-spacing: 0;
  }

  p {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0;
    line-height: 1.5em;
    margin-top: 0.5rem;

    &::after {
      content: "";
      display: block;
      background-color: $green;
      border-radius: 3.5px;
      width: 5rem;
      max-width: 100%;
      height: 7px;
      margin-top: 1.5rem;
    }
  }

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 5fr 8fr;
    gap: 0 5rem;
    align-items: center;
    text-align: unset;
    margin: 0 1.5rem;

    &:nth-of-type(even) {
      grid-template-columns: 8fr 5fr;
      figcaption {
        order: -1;
      }
    }
  }
  @media screen and (min-width: $max-width) {
    margin: 0 calc(1.5rem - (100vw - #{$max-width}) / 2);
  }
  @media screen and (min-width: #{$max-width+$body-padding*2}) {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.picture-wrapper {
  position: relative;
  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20314%20276%22%3E%3Cpath%20d%3D%22M310.987%2050.748c-1.887-6.298-4.794-12.147-8.022-17.831-5.385-9.484-11.707-18.186-20.813-24.552-5.042-3.524-10.488-6.059-16.517-7.23-11.907-2.315-23.296.47-34.508%203.976-4.89%201.53-9.56%203.805-14.243%205.935C150.2%2041.378%2095.322%207.888%2034.897%2046.356c-50.743%2032.303-33.025%2081.182-26.044%2096.016%200%20.001.648%201.631%202.297%204.473.484%201.08%201.265%202.155%201.988%203.217.251.386.517.785.795%201.195a78.188%2078.188%200%200%200%205.505%207.316c10.173%2012.336%2029.11%2029.85%2062.655%2045.777%2059.929%2028.452%2073.85%2048.808%2073.85%2048.808s6.483%206.654%2016.266%2012.861a88.094%2088.094%200%200%200%205.12%203.014c11.217%205.85%2038.527%2015.91%2058.083-11.35%2025.176-35.09%205.7-47.91%2026.148-88.168%2013.8-27.168%2036.344-44.042%2046.607-69.556%202.12-5.963%203.803-12.034%204.768-18.31%201.001-7.895.851-16.663-.827-26.643a68.013%2068.013%200%200%200-1.121-4.258%22%20fill%3D%22%236DDBC6%22%2F%3E%3C%2Fsvg%3E");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 10% 90%;

    transition: filter 1s linear;
  }

  &:hover::before {
    filter: hue-rotate(1turn);
  }
}
img {
  width: 100%;
  height: auto;
}

article > h3 {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.5px;
  text-align: center;
  line-height: 2.3rem;
  padding: 0 1ch;
  @media screen and (min-width: 405px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 320px) {
    word-wrap: break-word;
    padding: 0 0.5ch;
  }
}

.face-book {
  display: grid;
  margin: 3rem 0 6rem;
  gap: 2rem 5rem;
  grid-template-columns: minmax(200px, 75vw);
  justify-content: center;

  list-style: none;

  * {
    margin: 0;
    padding: 0;
  }

  @media screen and(min-width: 750px) {
    grid-template-columns: repeat(auto-fill, 300px);
    img {
      height: 340px;
      object-fit: contain;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 1rem;
    height: 100%;
  }
  figcaption {
    display: contents;
  }

  strong {
    font-weight: normal;
    font-size: 1.3rem;
  }

  em {
    font-weight: 600;
    font-size: 1rem;
    font-style: normal;
    color: $green;
  }

  strong,
  em {
    line-height: 1em;
    letter-spacing: 0;
    text-align: center;
  }

  details {
    display: contents;
  }

  @media screen and (min-width: 600px) {
    li {
      position: relative;
    }
    p {
      position: absolute;
      padding: 1rem;
      background-color: $white;
      z-index: 1;
      text-align: justify;
    }
  }
}

// summary {
//   list-style: none;
//   cursor: pointer;

//   &::-webkit-details-marker {
//     display: none;
//   }
// }
