@use "./utils/variables" as *;
@use "./utils/blog-article-preview" as *;

[hidden] {
  display: none !important;
}
main {
  display: grid;
  gap: inherit;
  grid-template-areas: "aside" "articles";

  @media screen and (min-width: #{$max-width}) {
    grid-template-columns: 200px auto;
    grid-template-areas: "aside articles";
  }
  @media screen and (min-width: #{$max-width+500px}) {
    grid-template-columns: 250px auto;
  }

  & > aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: inherit;

    .cta.tag {
      background: #f5f5f6;
      margin: 0 auto 1rem 0;
    }

    @media screen and (max-width: #{$max-width - 1}) {
      & > a.tag {
        display: none;
      }
    }
  }

  a.tag {
    font-size: 0.9rem;
    color: $grey;
    letter-spacing: 0;
    line-height: 1rem;
    text-decoration: none;
  }
}
