@use "./utils/variables" as *;
@use "./utils/title" as *;
@use "./utils/iframe" as *;

body {
  gap: 3rem;
}

$p-max-width: 950px;
main > p {
  @extend %p-after-title;
  margin-bottom: 0;
  margin-top: -2rem;
  max-width: $p-max-width;
}

main h3 {
  @extend %main-title;
}

.blog-articles {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  article {
    display: flex;
    flex-direction: column;
    a,
    a:visited {
      color: inherit;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 23 / 20;
      object-fit: cover;
    }

    h4,
    p {
      letter-spacing: 0;
      line-height: 1.5rem;
      padding: 0 1ch;
      text-align: center;
    }

    h4 {
      font-weight: 600;
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

main > section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: $max-width;
  padding: 0 1rem;
  & > p {
    @extend %p-after-title;
    margin-bottom: 0;
    max-width: $p-max-width;
  }
  &.background-wrapper {
    padding: 1rem;
    color: $white;
  }

  @media screen and (min-width:#{$max-width+$body-padding*2}) {
    padding: 0;
    margin: 0 auto;

    &.background-wrapper {
      padding: 3rem;
    }
  }
}

%dynamic-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;

  &.js-auto-slide button {
    display: none;
  }

  &.loading::before {
    content: "Loading…";
  }

  @media screen and (min-width: 600px) {
    flex-direction: row;
    gap: 4rem;

    &.js-auto-slide {
      width: 75%;
      margin: 0 auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      button {
        display: block;

        position: absolute;
        top: 50%;
        // transform: translateX(-50px);
        left: 12.5%;

        -webkit-appearance: none;
        appearance: none;
        background: none;
        border-radius: 0;
        cursor: pointer;

        height: 1rem;
        width: 1rem;
        border: 4px none $green;
        border-top-style: solid;
        border-left-style: solid;
        transform: translateX(-100%) rotate(-0.125turn);

        &:last-child {
          right: 12.5%;
          left: unset;
          transform: translateX(100%) rotate(0.375turn);
        }
      }
    }
  }
}

.webinars .dynamic-list {
  @extend %dynamic-list;

  article {
    display: flex;
    aspect-ratio: 16 / 9;
    padding: 0;
    height: 100%;
    min-height: 0;
  }

  @media screen and (min-width: 600px) {
    height: 9rem;
  }
}
@media screen and (max-width: 599px) {
  #webinars .dynamic-list {
    height: 9rem;
    article {
      flex-shrink: 0;
    }
  }
}

.podcast .dynamic-list {
  @extend %dynamic-list;
  height: 20rem;

  article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    background-color: $green;
    box-shadow: 0 0.05rem 1.25rem 0 rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    color: $white;
    @media screen and (min-width: 600px) {
      width: 20rem;
      padding: 2.5rem;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 0;
    line-height: 2rem;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    @media screen and(min-width: 600px) {
      max-height: 10rem;
    }
  }
  p {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.1rem;
    flex-shrink: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
  }
  a {
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0;
    line-height: 2rem;
    flex-shrink: 0;

    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border: 0.25em solid transparent;
      border-left-color: currentColor;
      margin-left: 0.5ch;
      transform: scaleX(150%);
      transform-origin: left;
    }
  }
  a,
  a:hover,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}
