@use "./utils/variables" as *;

@use "./utils/title" as *;

section {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;

  article {
    width: 70%;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin: 0;
  }
}
