@use "./utils/variables" as *;

@use "./utils/title" as *;

ol {
  list-style-position: inside;
}

#roadmap {
  div {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 900px) {
      flex-direction: row;
    }
    margin: auto;
    img {
      max-width: 30vw;
      width: 10rem;
      height: auto;
    }
    figcaption {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
