@use './utils/variables' as *;

section {
  @extend %sectionAboveTheFold;
}

.howCanWeHelp {
  display: grid;
  padding: 120px 1.5rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
  background-color: $greyLike;

  .cta {
    align-self: start;
  }

  div {
    grid-row: 1 / 3;
    grid-column: 2;
  }

  details {
    border-bottom: 1px solid #ddd;
    padding: 1.2rem;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    p {
      margin-top: 1.2rem;
    }

    & > summary {
      font-family: $Gilroy;
      font-size: 1.25rem;
      line-height: 1em;
      font-weight: bold;
      letter-spacing: 0.02em;
      &::after {
        content: "+";
        color: $green;
        font-weight: normal;
        float: right;
      }
    }
    &[open] > summary::after {
      content: "-";
    }
  }
  @media screen and (min-width: $max-width) {
    grid-template-columns: auto 400px 800px auto;

    * {
      grid-column: 2;
    }
    div {
      grid-column: 3;
    }
  }
}

summary {
  list-style: none;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }
}
