@use "./utils/variables" as *;

main{
    padding: $body-padding;
    margin:auto;
    section, figure {
        padding-top: 2rem;
        h3 {
            text-transform: uppercase;
        }
        h2,h3,h4{
            text-align: center;
            margin:auto;
            padding: 1rem;
            @media screen and (min-width: 800px) {
                text-align: initial;
            }
        };
        h4 {
            font-size: 1.5rem;
            padding-bottom: 0;
            padding-top: 2%;
        }
        p{
           text-indent: 2rem;
           * {
                text-indent: initial;
           }
        }
        ul{
            padding-top: 1rem;
            li{
                padding-top: 0.5rem;
            }
        }
    };
    figure {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
        .picture-wrapper {
            max-width: 100%;
            max-height:640px;
            aspect-ratio: 1;
            border-radius: 1.5rem;
            overflow: hidden;
            padding: 5px;
            background-color: $white;
            border: 5px solid $navy;

            picture {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: calc(1.5rem - 5px);
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                };
            };
        };

        figcaption {
            flex: 1;
            max-width: 100%;
            padding: 1rem;
            text-align: left;
        };

        @media screen and (min-width: 800px) {
            flex-direction: row;
            .picture-wrapper, figcaption {
                width: 50%;
                max-width: 50%;
                min-width: auto;
            };
            &:nth-child(even) {
                flex-direction: row-reverse;
            };
        };
    };

};

.blog {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
  @media screen and (min-width: 800px) {
    padding: 2rem 1rem;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  article {
    flex: 0 0 100%;
    text-align: left;
    display: grid;
    gap: 1rem;
    padding: 2rem;
    max-width: 100%;
    min-height: 25rem;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (min-width: 800px) {
      flex: 0 0 calc(50% - 1rem);
    }
    @media screen and (min-width: 1200px) {
      flex: 0 0 calc(33% - 1rem);
    }

    a,
    a:visited,
    a:hover {
      color: inherit;
      text-decoration: none;
    }

    h3,
    p {
      letter-spacing: 0;
      line-height: 1.5rem;
      padding: 0 1ch;
    }

    h3 {
      font-weight: 600;
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }

    img {
      width: 100%;
      object-fit: contain;
      padding: 0 0.5rem 0 0.5rem;
      aspect-ratio: 1;
      box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
    }

    & > h3 {
      margin-left: 0;
    }
    .cta {
      @extend %button;
      &:hover {
        @extend %invertedCta;
      }
      margin-bottom: 0;
      margin-left: 1rem;
    }

    & > a:first-child {
      grid-row: 1;
    }

    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.02);
  }
}
