@use "./utils/variables" as *;
@use "./utils/title" as *;
@use "./utils/iframe" as *;

main > p {
  @extend %p-after-title;
}

dialog.form-in-modal {
  width: 90%;
  height: 75%;

  iframe {
    display: block;
  }
}

main section {
  display: grid;
  grid-template-rows: 1fr auto auto;
  padding: 1rem;
  color: $white;
  aspect-ratio: 650/436;
  h3 {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 2rem;
    align-self: end;
    max-width: 50%;
  }
  p {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.1em;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  & > .cta {
    margin-top: 1rem;
  }
  &:first-of-type > p {
    max-width: 60%;
  }
}

@media screen and (min-width: #{$max-width}) {
  main {
    display: grid;
    gap: inherit;
    column-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    max-width: 1350px;
    margin: 0 auto;
    & > :not(section) {
      grid-column: span 2;
    }

    section {
      box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.08);
      padding: 2rem;
      .background img {
        border-radius: 0.5rem;
      }
    }
  }
}
